<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Bem-vindo ao EasyM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/pages/1-inicio.css">
</head>

<body>
    <div class="container">
        <section class="texto">
            <h1><span id="markup">Gerencie</span> sua vida<br>financeira com</h1>
            <h1>EasyM</h1>
            <p class="subtitulo">Tenha controle. Crie metas. Evolua.</p>
            <div class="botoes">
                <a href="pages/forms_cadastro/1-index_cadastro.html" class="botao verde">Começar agora</a>
                <a href="pages/forms_login/1-forms_login.html" class="botao escuro">Já tenho conta</a>
            </div>
        </section>

        <section class="ilustracao">
            <img src="../assets/img/logo_1.png" alt="Logo Espiral">
        </section>
    </div>
</body>

</html>