<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login - EasyM</title>
    <link rel="stylesheet" href="../../assets/form_login/form_login.css">
</head>

<body>

    <div class="form-container">
        <h2>Login - EasyM</h2>

        <form action="login_usuario.php" method="POST">
            <label for="usuario">Usuário ou E-mail:</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <div class="extra-options">
                <a href="esqueci_senha.html">Esqueceu a senha?</a>
            </div>

            <button type="submit">Entrar</button>
        </form>

        <p class="link-cadastro">
            Ainda não tem uma conta? <a href="../formulario_cadastro/form_cadastro.html">Cadastre-se aqui</a>
        </p>
    </div>

</body>

</html>