@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #191919;
  color: #e6e6e6;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #e6e6e6;
  font-weight: 400;
  font-size: 1.8rem;
  position: relative;
}

h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 4px;
  background-color: #0ba18c;
  margin: 0.5rem auto 0;
  border-radius: 5px;
}

forms {
  width: 100%;
  max-width: 600px;
  background-color: #262626;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border: 2px solid #37393b;
}

.forms-step {
  display: none;
}

.forms-step.active {
  display: block;
}

p {
  margin-bottom: 1rem;
  font-weight: 500;
  color: #ffffff;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-size: 0.95rem;
  color: #e6e6e6;
}


input:focus,
select:focus,
textarea:focus {
  outline: 1px solid #0ba18c;
  background-color: #2e2e2e;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 10px;
  background: #0ba18c;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
}

 #prevBtn{
    background-color: #E63946 ;
  }

#prevBtn:hover {
    background-color: #B02E37;
}

button:hover {
  background-color: #13b39e;
}

#submitBtn {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    padding: 1rem;
  }

  forms {
    padding: 1.5rem;
  }

  h1::after {
    width: 3rem;
    height: 3px;
  }



  .buttons {
    flex-direction: column;
  }
}

/* Autofill */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  border: 1px solid #ccc;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #262626 inset;
  transition: background-color 5000s ease-in-out 0s;
}
