<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login - EasyM</title>
    <link rel="stylesheet" href="../../../assets/css/pages/3-forms_login.css">
    <link rel="stylesheet" href="../../../assets/css/components/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> </head>

<body>

    <div class="form-container">
        <h2>Login rápido <br>futuro <span style="text-decoration: underline #0BA18C;">tranquilo!</span></h2>

        <form id="formLogin">
            <label for="usuario">Usuário ou E-mail:</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <div class="extra-options">
                <a href="../forms_esqueci_senha/1-esqueci_senha.html">Esqueceu a senha?</a>
            </div>

            <div id="mensagem-erro" style="color: red; text-align: center;"></div>
            <button type="submit">Entrar</button>
        </form>

        <p class="link-cadastro">
            Ainda não tem uma conta? <a href="../forms_cadastro/1-index_cadastro.html">Cadastre-se aqui</a>
        </p>
    </div>
    <script src="../../../assets/js/components/modal.js"></script>
    <script src="../../../assets/js/pages/2-forms_login.js" defer></script>
</body>

</html>
