<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Bem-vindo ao EasyM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/pages/1-inicio.css">
</head>

<body>

    <header class="topo">
        <img src="../assets/img/logo_1.png" alt="Logo" class="logo-icon">
    </header>

    <main class="conteudo">
        <img src="../assets/img/logo_2.png" alt="Logo completa" class="logo-principal">
        <h1>Gerencie sua vida financeira com o <strong>EasyM</strong></h1>
        <p class="subtitulo">Tenha controle. Crie metas. Evolua.</p>

        <div class="botoes">
            <a href="pages/forms_cadastro/1-index_cadastro.html" class="botao verde">Começar agora</a>
            <a href="pages/forms_login/1-forms_login.html" class="botao escuro">Já tenho conta</a>
        </div>
    </main>

</body>

</html>